/* SECTION 1 */

#section1 {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#home-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-header {
  font-family: Lora;
  color: #D8C7B3;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  z-index: 5;
}

#homeheader1 {
  left: 10%;
  top: 50%;
}

/* SECTION 2 */

#section2 {
  display: flex;
  justify-content: center;
  padding: 80px;
  height: 30vh;
  background-color: #EFE8E1;
}

#section2-left {
  flex:1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  position: relative;
  border-right: solid 1px;
}

#section2-left > h1 {
  margin: 0;
}
#section2-right {
  flex:1;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

#section2-right > h3 {
  margin: 0;
  font-weight: 400;
}

/* SECTION 3 */
#section3 {
  padding: 80px 40px;
}


#promoCarousel {
  width: 100%;
  height: 30%;
  max-width: 600px;
  aspect-ratio: 1;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item {
  background-color: #f7f3ed;
  border: none;
  height: max-content;
  position: relative;
  overflow: hidden;
}

.crsl-img {
  height: 600px;
  object-fit: contain;
}

.crsl-title {
  position: absolute;
  top: 50%;
  left: 30%;
  color: #EFE8E1;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media only screen and (max-width: 600px) {
  #section2 {
    padding: 40px;
    flex-direction: column;
  }
  #section2-left {
    border: none;
    border-bottom: solid 1px;
    padding: 0;
    margin: auto;
  }
  #section2-right {
    margin-left: 0;
    margin: auto;
  }
  
  #section2-right > h3 {
    font-size: 18px;
    text-align: center;
  }
}