#section1{
	width: 100%;
    background-color:  #f7f3ed;
}

.section1container1{ 
	width:  90%;
    margin: auto;
    background-color:  transparent;
    display: flex;
    justify-content: space-between;
}


#section1text1{
    margin-top: 100px;
    padding-top: 40px;
    /*background-color: pink;*/
    text-align: left;
    flex-basis: 40%;
    order: 1;

}

#section1text1 h1{
        /*width:30%;
        float:left;*/
        color: black;
        padding: 0px;
        font-family: Lora;
        font-size: 25px;
}


.card1{
	order: 2;
    background-color:  #f7f3ed;
    height: 2000%;
    margin-top: 140px;
    margin-right: 25px;
    object-fit: cover;
    flex-basis: 30%;
}

.card2{
	order: 3;
    background-color:  #f7f3ed;
    height: 2000%;
    margin-top: 140px;
    object-fit: cover;
    flex-basis: 30%;
    margin-left: 25px;
}


.card-title {
    margin-top: 20px;
    margin-right: 20px;
    text-align: left;
    font-family: Lora;
    font-size: 18px;
}

.card-text-sub{
    text-align: left;
    margin-top: 0px;
    font-family: Inter;
    font-size: 13px;
    color: #a2a5a4;
}

.card-text-body{
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    color: black;
    margin-top: -10px;
}

.section1container2{ 
	width:  90%;
    margin: auto;
    background-color:  transparent;
    display: flex;
    justify-content: space-between;
}

.card3{
	order: 1;
    background-color:  #f7f3ed;
    height: 2000%;
    margin-top: 50px;
    margin-right: 25px;
    object-fit: cover;
    flex-basis: 30%;
}

.card4{
	order: 2;
    background-color:  #f7f3ed;
    height: 2000%;
    margin-top: 50px;
    margin-bottom: 50px;
    object-fit: cover;
    flex-basis: 30%;
    margin-left: 25px;
}

#section1text2{
    margin-top: 100px;
    padding-top: 40px;
    /*background-color: pink;*/
    text-align: left;
    flex-basis: 40%;
    order: 3;

}

#section1text2 h1{
        /*width:30%;
        float:left;*/
        color: black;
        padding: 0px;
        font-family: Lora;
        font-size: 25px;
}
