body {
	padding:  0px;
	margin:  0px;
	background-color: #f7f3ed;
  font-family: Inter;
}

h1, h2, h3, h4 {
  font-family: Lora;
}

/* HEADER STYLES */

#header{
  width: 100%;
  background: linear-gradient(180deg, #ffffff 10%, transparent);
  position: fixed; /* Set the navbar to fixed position */
  top: 0px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
}

.headercontainer{ 
  width:  90%;
  margin: auto;
  background-color:  transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



#headermenu1{
    font-size: 14px;
      text-align:left;
      color: #000000;
      font-family: Inter;
      /*background-color: violet;*/
      order: 1;
      flex-basis: 15%;
      margin-top: 3%;
}

      #headermenu1 a{
          text-decoration: none;
          color: black;
        }

      #headermenu1 a:hover{
          color:    #787276 ;
        }


#headermenu2{
      font-size: 14px;
      text-align: left;
      color: #000000;
      font-family: Inter;
      /*background-color: blue;*/
      order: 2;
      flex-basis: 20%;
      margin-top: 3%;
}

      #headermenu2 a{
          text-decoration: none;
          color: black;
        }

      #headermenu2 a:hover{
          color:  #787276 ;
        }

#logo{
      order: 3;
      /*background-color: white;*/
      margin-top: 20px;
      margin-bottom: 15px;
      flex-basis: 25%;
      text-align: center;

}

#headermenu3{
      font-size: 14px;
      text-align:right;
      color: #000000;
      font-family: Inter;
      /*background-color: red;*/
      order: 4;
      flex-basis: 10%;
      margin-top: 3%;
}

      #headermenu3 a{
          text-decoration: none;
          color: black;
        }

      #headermenu3 a:hover{
          color:    #787276 ;
        }

#headermenu4{
      font-size: 14px;
      text-align:right;
      color: #000000;
      font-family: Inter;
      /*background-color: pink;*/
      order: 5;
      flex-basis: 20%;
      margin-top: 3%;
}

      #headermenu4 a{
          text-decoration: none;
          color: black;
        }

      #headermenu4 a:hover{
          color:    #787276 ;
        }

#headermenu5{
      font-size: 14px;
      text-align: right;
      color: #000000;
      font-family: Inter;
      /*background-color: blue;*/
      order: 6;
      flex-basis: 10%;
      margin-top: 3%;
}

      #headermenu5 a{
          text-decoration: none;
          color: black;
        }

      #headermenu5 a:hover{
          color:    #787276 ;
        }



/* FOOTER STYLES */

#footer{
  width: 100%;
      background-color:  #a2a5a4;
  width: 100%; /* Full width */
}

.footercontainer1{ 
  width:  90%;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}


#footermenu1{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14px;
      text-align:left;
      font-family: Inter;
      /*background-color: blue;*/
      order: 1;
      flex-basis: 12%;
}

      #footermenu1 a{
          text-decoration: none;
          color: #FAF9F6;
        }

      #footermenu1 a:hover{
          color: #787276;
        }


#footermenu2{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14px;
      text-align:center;
      font-family: Inter;
      /*background-color: blue;*/
      order: 2;
      flex-basis: 20%;
}

      #footermenu2 a{
          text-decoration: none;
          color: #FAF9F6;
        }

      #footermenu2 a:hover{
          color: #787276;
        }

#footermenu3{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14px;
      text-align:center;
      font-family: Inter;
      /*background-color: blue;*/
      order: 3;
      flex-basis: 10%;
}

      #footermenu3 a{
          text-decoration: none;
          color: #FAF9F6;
        }

      #footermenu3 a:hover{
          color: #787276;
        }

#footermenu4{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14px;
      text-align:center;
      font-family: Inter;
      /*background-color: blue;*/
      order: 4;
      flex-basis: 24%;
}

      #footermenu4 a{
          text-decoration: none;
          color: #FAF9F6;
        }

      #footermenu4 a:hover{
          color: #787276;
        }

#footermenu5{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14px;
      text-align:left;
      font-family: Inter;
      /*background-color: blue;*/
      order: 5;
      flex-basis: 14%;
}

      #footermenu5 a{
          text-decoration: none;
          color: #FAF9F6;
        }

      #footermenu5 a:hover{
          color: #787276;
        }

#footersocial{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14px;
      text-align:right;
      font-family: Inter;
      /*background-color: blue;*/
      order: 6;
      flex-basis: 20%;
      flex-grow: 2;
}

.footercontainer2{ 
  width:  90%;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

#footerdisclaimer{
  margin-bottom: 10px;
  /*background-color: pink;*/
  width: 100%;
}

#footerdisclaimer p{
      color: white;
      font-family: Inter;
      font-size: 12px;
      float: left;
}

#footerdisclaimer a{
      color: white;
      font-family: Inter;
      font-size: 12px;
      float: right;
      padding-left: 50px;
}

#footerdisclaimer a:hover{
          color: #787276;
        }



hr {
  width: 100%;
  size:  10;
  color: white;
}