
/* SECTION 1 */
#section1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#home-banner {
  width: 120vw;
  height: 100vh;
  object-fit: cover;
}

.banner-header {
  font-family: Lora;
  color: white;
  font-weight: 400;
  position: absolute;
  z-index: 5;
}

#homeheader1 {
  left: 10%;
  top: 40vh;
}

#homeheader2 {
  left: 15%;
  top: 50vh;
}

#homeheader3 {
  left: 9%;
  top: 60vh;
}


/* SECTION 2 */
#section2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
}

#section2-left {
  width: 45%;
  min-width: 400px;
  margin: auto;
  height: 550px;
  background-image: url("images/clinic.png"); /* fallback */
  background-size: cover;
  transition:  all 0.3s ease-in-out;

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

#section2-left:hover {
  background-image: url("images/clinic.png"); /* fallback */
  background-image:
  linear-gradient(to bottom, rgba(216, 199, 179, 0) 0%, #D8C7B3 100%),
    url('images/clinic.png');
  transition:  all 0.3s ease-in-out;

}

#section2-left #section2-left-text {
  display: none;
  color: #5C3428;
  transition:  all 0.3s ease-in-out;

}

#section2-left-text  > a {
  text-decoration: none;
  color: #5C3428;
}

#section2-left-text  > a:hover {
  text-decoration: underline;
}
#section2-left:hover #section2-left-text {
  display: block;
  transition:  all 0.3s ease-in-out;
}

#section2-right {
  width: 45%;
  min-width: 400px;
  height: 550px;
  background-color: #EFE8E1;
  padding: 40px;
}
#discount-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

#signupconfirm {
  margin-top: 40px;
}


#member-email {
  width: 100%;
  height: 60px;
  background-color: white;
}

#member-send {
  border: none;
  width: 150px;
  height: 50px;
  background-color: white;
  color: #935A49;
}
#member-send:hover {
  background-color: #935A49;
  color: #EFE8E1;
}

/* SECTION 3 */
#section3 {
  width: 100%;
  background-color: #D8C7B3;
  padding: 80px;
  text-align: right;
}

#section3-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sec3-box {
  height: 60vh;
  width: 30%;

  background-color: #EFE8E1;
  background-size: cover;
  color: white;
}

#treat1 {
  background-image: url('images/skin.png');
}
#treat2 {
  background-image: url('images/body.png');
}
#treat3 {
  background-image: url('images/hair.png');
}


/* SECTION 4 */
#section4 {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 80px 120px;
}

#section4 > img {
  width: 40%;
  object-fit: cover;
}

#section4-right {
  width: 60%;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
.testimonial-box {
  background-color: #EFE8E1;
  min-height: 250px;
  width: 60vw;
  max-width: 600px;
  position: absolute;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-text {
  font-size: 18px;
  color: #5C3428;
  font-family: inter;
}
.testimonial-name {
  text-align: right;
  font-family: Lora;
  font-size: 24px;
  color: #5C3428;
}

#tbox1 {
  top: 50px;
}

#tbox2 {
  top: 380px;
  right: 30%;
}

#tbox3 {
  top: 690px;
  right: 10%;
}

#section5 {
  width: 100vw;
  height: 100vh;
}

#section5-up {
  margin: auto;
  width: 90%;
  height: 40%;
  background: #D8C7B3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#section5-down {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

#talk-form {
  position: absolute;
  top: 50px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #935A49;
}

#talk-form > h1 {
  color: #5C3428;
}

.input-text, .input-text:focus {
  border: none;
  padding-left: 10px;
}

#input-email {
  width: 100%;
  height: 60px;
  background-color: #EFE8E1;
}
#input-query {
  width: 100%;
  height: 200px;
  background-color: #EFE8E1;
}

.form-button {
  border: none;
  width: 200px;
  height: 50px;
  margin-left: 50px;
  background-color: #EFE8E1;
  color: #935A49;
}
.form-button:hover {
  background-color: #935A49;
  color: #EFE8E1;
}

#book-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media only screen and (max-width: 600px) {

  /* SECTION 1 */
  #section1 {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
  }

  #home-banner {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
  }

  .banner-header {
    font-family: Lora;
    color: white;
    font-weight: 400;
    position: absolute;
    z-index: 5;
  }

  #homeheader1 {
    left: 20%;
    top: 48vh;
  }

  #homeheader2 {
    left: 25%;
    top: 54vh;
  }

  #homeheader3 {
    left: 20%;
    top: 60vh;
  }
  #section2 {
    padding: 0;
  }
  #section2-left{
    background-image:
    linear-gradient(to bottom, rgba(216, 199, 179, 0) 0%, #D8C7B3 100%),
      url('images/clinic.png');
    justify-content: flex-end;
    width: auto;
  }
  #section2-right {
    width: auto;
  }
  #section2-left #section2-left-text {
    display: block;
  }

  #section3 {
    padding: 40px;
  }
  #section3-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  .sec3-box {
    height: 20vh;
    width: 100%;
  
    background-color: #EFE8E1;
    position: relative;
    margin: 10px 0;
  }

  /* SECTION 4 */
#section4 {
  margin: auto;
  padding: 0;
  flex-wrap: wrap;
}

#section4 > img {
  width: 100%;
  object-fit: cover;
}

#section4-right {
  width: 100%;
  height: max-content;
  padding: 40px 0;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.testimonial-box {
  background-color: #EFE8E1;
  height: 250px;
  width: 90vw;
  margin: 10px 0;
  position:inherit;
  padding: 30px;
}

#tbox1 {
  top: auto;
}

#tbox2 {
  top: auto;
  right: auto;
}

#tbox3 {
  top: auto;
  right: auto;
}

#talk-form {
  width: auto;
}
}