#section1{
    width: 100%;
    background-color:  #f7f3ed;
}

.section1container1{ 
    width:  90%;
    margin: auto;
    background-color:  transparent;
    display: flex;
    justify-content: space-between;

}


#section1filter{
    margin-top: 100px;
    padding-top: 40px;
    /*background-color: pink;*/
    text-align: left;
    order: 1;
    flex-basis: 25%;

}

#section1filter a{
        /*width:30%;
        float:left;*/
        color: black;
        font-family: Inter;
        font-size: 14px;
}

#section1filter a:hover{
            color: #787276;
          }



.section1image {
    position: relative;
    max-width: 100%;
    margin-top: 100px;
    padding-top: 40px;
    /*background-color: pink;*/
    text-align: left;
    order: 2;
    flex-basis: 40%;
    margin-bottom: 70px;
  }
  .section1image img.image-hover {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .section1image:hover img.image-hover {
    opacity: 1;
  }

#section1text{
    margin-top: 100px;
    padding-top: 40px;
    /*background-color: pink;*/
    text-align: left;
    order: 3;
    flex-basis: 35%;
    margin-left: 50px;
    padding-right: 20px;


}


#section1text h2{
    text-align: left;
    margin-top: 0px;
    font-family: Inter;
    font-size: 13px;
    color: #a2a5a4;
}

#section1text p{
    text-align: left;
    font-family: Lora;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
}

#section1text a{
    color: black;
        font-family: Inter;
        font-size: 14px;
        text-decoration: underline;
        text-underline-offset:  5px;
        display: inline-block;
        margin-top: 10px;
}

#section1text a:hover{
            color: #787276;
          }

#section2{
    width: 100%;
    background-color:  #f7f3ed;
}

.section2container1{ 
    width:  90%;
    margin: auto;
    background-color:  transparent;
    display: flex;
    justify-content: space-between;
}


#section2filter{
    padding-top: 20px;
    /*background-color: pink;*/
    text-align: left;
    order: 1;
    flex-basis: 25%;

}

#section2filter a{
        /*width:30%;
        float:left;*/
        color: black;
        font-family: Inter;
        font-size: 14px;
}

#section2filter a:hover{
            color: #787276;
          }



.section2image {
    position: relative;
    max-width: 100%;
    margin-top: 20px;
    /*background-color: pink;*/
    text-align: left;
    order: 2;
    flex-basis: 40%;
    margin-bottom: 70px;
  }
  .section2image img.image-hover {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .section2image:hover img.image-hover {
    opacity: 1;
  }

#section2text{
    /*background-color: pink;*/
    text-align: left;
    order: 3;
    flex-basis: 35%;
    margin-left: 50px;
    padding-right: 20px;
    padding-top: 20px;


}


#section2text h2{
    text-align: left;
    margin-top: 0px;
    font-family: Inter;
    font-size: 13px;
    color: #a2a5a4;
}

#section2text p{
    text-align: left;
    font-family: Lora;
    font-size: 20px;
    color: black;
    margin-top: 10px;
}

#section2text a{
    color: black;
        font-family: Inter;
        font-size: 14px;
        text-decoration: underline;
        text-underline-offset:  5px;
        display: inline-block;
        margin-top: 10px;
}

#section2text a:hover{
            color: #787276;
          }

#footer{
    width: 100%;
        background-color:  #a2a5a4;
    width: 100%; /* Full width */
}

.footercontainer1{ 
    width:  90%;
    margin: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}


#footermenu1{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14px;
        text-align:left;
        font-family: Inter;
        /*background-color: blue;*/
        order: 1;
        flex-basis: 12%;
 }

        #footermenu1 a{
            text-decoration: none;
            color: #FAF9F6;
          }

        #footermenu1 a:hover{
            color: #787276;
          }


#footermenu2{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14px;
        text-align:center;
        font-family: Inter;
        /*background-color: blue;*/
        order: 2;
        flex-basis: 20%;
 }

        #footermenu2 a{
            text-decoration: none;
            color: #FAF9F6;
          }

        #footermenu2 a:hover{
            color: #787276;
          }

#footermenu3{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14px;
        text-align:center;
        font-family: Inter;
        /*background-color: blue;*/
        order: 3;
        flex-basis: 10%;
 }

        #footermenu3 a{
            text-decoration: none;
            color: #FAF9F6;
          }

        #footermenu3 a:hover{
            color: #787276;
          }

#footermenu4{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14px;
        text-align:center;
        font-family: Inter;
        /*background-color: blue;*/
        order: 4;
        flex-basis: 24%;
 }

        #footermenu4 a{
            text-decoration: none;
            color: #FAF9F6;
          }

        #footermenu4 a:hover{
            color: #787276;
          }

#footermenu5{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14px;
        text-align:left;
        font-family: Inter;
        /*background-color: blue;*/
        order: 5;
        flex-basis: 14%;
 }

        #footermenu5 a{
            text-decoration: none;
            color: #FAF9F6;
          }

        #footermenu5 a:hover{
            color: #787276;
          }

#footersocial{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14px;
        text-align:right;
        font-family: Inter;
        /*background-color: blue;*/
        order: 6;
        flex-basis: 20%;
        flex-grow: 2;
 }

.footercontainer2{ 
    width:  90%;
    margin: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

#footerdisclaimer{
    margin-bottom: 10px;
    /*background-color: pink;*/
    width: 100%;
}

#footerdisclaimer p{
        color: white;
        font-family: Inter;
        font-size: 12px;
        float: left;
}

#footerdisclaimer a{
        color: white;
        font-family: Inter;
        font-size: 12px;
        float: right;
        padding-left: 50px;
}

#footerdisclaimer a:hover{
            color: #787276;
          }



hr {
    width: 100%;
    size:  10;
    color: white;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media only screen and (max-width: 600px) {

#header {
    background: linear-gradient(180deg, #ffffff 80%, transparent);
}

.headercontainer{ 
    flex-direction: column;
}

 #logo {
    order: 1;
    width: 100%;
    text-align: right;
    
  }

  #logo img{

     width: 20%;
  }
 
#headermenu1{
        order: 2;
        margin-top: -60px;
 }

 #headermenu2{
        order: 3;
        margin-top: 5px;
 }

 #headermenu3{
        order: 4;
        margin-top: 5px;
        text-align: left;
 }

 #headermenu4{
        order: 5;
        margin-top: 5px;
        text-align: left;
 }

  #headermenu5{
        order: 6;
        margin-top: 5px;
        text-align: left;
        padding-bottom: 10px;
 }

 .section1container1{ 
    flex-direction: column;
}


#section1filter{
    display: none;

}

.section1image {
    margin-top: 130px;
    margin-bottom: 0px;
  }


#section1text{
    margin-left: 10px;
    margin-top: 0px;

}

#section1text a{
    margin-bottom: 20px;
}

 .section2container1{ 
    flex-direction: column;
}


#section2filter{
    display: none;

}

.section2image {
    margin-top: 50px;
    margin-bottom: 0px;
  }


#section2text{
    margin-left: 10px;
    margin-top: 0px;

}

#section2text a{
    margin-bottom: 70px;
}

.footercontainer1{ 
   flex-direction: column;
}


#footermenu1{
    display: none;
 }

#footermenu2{
    display: none;
 }

#footermenu3{
    display: none;
 }

#footermenu4{
    display: none;
 }

#footermenu5{
    display: none;
 }

 #footersocial{
    margin-top: 20px;
    margin-bottom: 10px;
 }

#footerdisclaimer a{
        float: left;
        padding-left: 0px;
        padding-right: 20px;
        margin-top: 0px;
        margin-bottom: 10px;
}


}

