
#section1{
	width: 100%;
    background-color:  #f7f3ed;
    padding: 140px 0;
}

.section1container1{ 
	width:  90%;
    margin: auto;
    background-color:  transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


#section1text1{
    /*background-color: pink;*/
    text-align: left;
    flex-basis: 40%;
    order: 1;

}

#section1text1 h1{
        /*width:30%;
        float:left;*/
        color:  #5C3428;
        padding: 0px;
        font-family: Lora;
        font-size: 25px;
}

.treatcard {
    height: 2000%;
    background-color:  #f7f3ed;
    margin-right: 40px;
    flex-basis: 30%;
    object-fit: cover;
    margin-top: 20px;
}
.card1{
	order: 2;
}

.card2{
	order: 3;
}


.card-title {
    margin-top: 20px;
    margin-right: 20px;
    text-align: left;
    font-family: Lora;
    font-size: 18px;
}

.card-text-sub{
    text-align: left;
    margin-top: 0px;
    font-family: Inter;
    font-size: 13px;
    color: #a2a5a4;
}

.card-text-body{
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    color: black;
    margin-top: -10px;
}

.section1container2{ 
	width:  90%;
    margin: auto;
    background-color:  transparent;
    display: flex;
    justify-content: flex-start;
}

.card3{
	order: 1;
}

.card4{
	order: 2;
}

#section1text2{
    margin-top: 100px;
    padding-top: 40px;
    /*background-color: pink;*/
    text-align: left;
    flex-basis: 40%;
    order: 3;

}

#section1text2 h1{
        /*width:30%;
        float:left;*/
        color:  #5C3428;
        padding: 0px;
        font-family: Lora;
        font-size: 25px;
}

.img-container {
  position: relative;
  width: 100%;
}
.treat-img {
  display: block;
  width: 100%;
  height: auto;
}
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: .5s ease;
    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    background:
  linear-gradient(to bottom, rgba(216, 199, 179, 0) 0%, #D8C7B3 100%);
}

.img-container:hover .img-overlay {
  opacity: 1;
}

/* PROMOTIONS */

#section2{
    width: 100%;
    background-color:   #e5ddd1;
}

.section2container{ 
    width:  90%;
    margin: auto;
    background-color:  transparent;
    display: flex;
    justify-content: space-between;
}


#section2text1{
    margin-top: 30px;
    padding-top: 40px;
    /*background-color: pink;*/
    text-align: left;
    flex-basis: 40%;
    order: 1;
}

#section2text1 h1{
        /*width:30%;
        float:left;*/
        color:  #5C3428;
        padding: 0px;
        font-family: Lora;
        font-size: 25px;
}

.section2image {
    position: relative;
    max-width: 100%;
    margin-top: 70px;
    /*background-color: pink;*/
    text-align: left;
    order: 2;
    flex-basis: 30%;
    margin-bottom: 70px;
  }

#section2text2{
    /*background-color: pink;*/
    text-align: left;
    order: 3;
    flex-basis: 30%;
    margin-left: 50px;
    padding-right: 20px;
    margin-top: 70px;


}


#section2text2 h1{
    text-align: left;
    font-family: Lora;
    font-size: 30px;
    color:  #5C3428;
}

#section2text2 p{
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    color: black;
    padding-top: 20px;
    padding-right: 50px;
}

#section2text2 a{
    color: black;
        font-family: Inter;
        font-size: 14px;
        text-decoration: underline;
        text-underline-offset:  5px;
        display: inline-block;
}

#section2text2 a:hover{
            color: #787276;
          }

@media only screen and (max-width: 600px) {
    #section1 {
        padding-top: 200px;
    }
    #mobile-section1text1 {
        margin: 20px;
    }

    .treatcard {
        width: 70vw;
        margin-right: 0;
    }

    .section1container1, .section1container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


.section2container{ 
    flex-direction: column;
}

#section2text1{
    margin-top:  0px;

}

.section2image{
    margin-top: 10px;
    margin-bottom: 0px;
}


#section2text2{
    margin-top: 30px;
    margin-left: 0px;
    padding-right: 5px;
    padding-top: 0px;
}



#section2text2 p{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#section2text2 a{
    margin-bottom: 70px;
}
}