body {
	padding:  0px;
	margin:  0px;
	background-color: #f7f3ed;
  font-family: Inter;
}

h1, h2, h3, h4 {
  font-family: Lora;
}
/* HEADER STYLES */


header{
  width: 100%;
  background: linear-gradient(180deg, #ffffff 10%, transparent);
  position: fixed; /* Set the navbar to fixed position */
  top: 0px; /* Position the navbar at the top of the page */
  z-index: 1000;

  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#headermenu1{
    font-size: 14px;
      text-align:left;
      color: #000000;
      
}

      #headermenu1 a{
          text-decoration: none;
          color: black;
          margin-left: 30px;
        }

      #headermenu1 a:hover{
          color:    #787276 ;
        }

#logo{
      width:9%;
      margin-top: 20px;
      margin-bottom: 15px;

}

#headermenu2{
  font-size: 14px;
  text-align:right;
  color: #000000;
}

  #headermenu2 a{
      text-decoration: none;
      color: black;
      margin-right: 30px;
    }

  #headermenu2 a:hover{
      color:  #787276 ;
    }



    /* FOOTER */



#footer{
  width: 100%;
      background-color:#a2a5a4;
  width: 100%; /* Full width */
}

.footercontainer1{ 
  width:  80%;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}


#footermenu{
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14px;
      text-align:left;
      font-family: Lora;
      /*background-color: blue;*/
      order: 1;
      flex-basis: 40%;
      flex-grow: 2;
         color: black;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: black;
font-size: 20px;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: black;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 400px;
}

.buttonbtn {
border: none;
color: black;
padding: 10px 100px;
text-align: center;
display: inline-block;
font-size: 13px;
cursor: pointer;
font-family: Open Sans;

}

.footerbtn {
 float:  right;
  background-color: #FFD60A;
  border-radius: 30px;
  transition-duration: 0.4s;
}

.footerbtn :hover {
background-color: #FFE45C;
color: black;
}

.footercontainer2{ 
  width:  80%;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

#footerdisclaimer{
  padding-top: 5px;
  margin-bottom: 10px;
  /*background-color: pink;*/
  text-align: center;
  width: 100%;
}

#footerdisclaimer p{
      color: white;
      font-family: Inter;
      font-size: 12px;
      float: left;
}

hr {
  width: 100%;
  size:  10;
  color: white;
}
